# Targets

DESCRIPTION TODO

## Dependencies

A target can have dependencies. Dependencies means that you can run the target until 
the execution of dependencies are not done.

Dependencies can also be useful if you want group the execution of several targets under one target. 

You can declare a list of dependencies which can be declared inside the same Emakefile or
inside an another Emakefile. Check the **[dedicated section]()** about path if you want more details. 

```yaml
targets:
  target_inside_this_file:
    steps:
      - description: Hello
        cmd: echo "hello"
  my_best_target:
    deps:
      - target_inside_this_file
      - //other_folder_of_project_containing_emakefile/my_target_name
```

## Steps

### Sequencial or parallel

By default, steps of a target run sequencially. If all your steps can run independently, you can
use the target option `parallel: true`.

Example:

```yaml
targets:
  my_best_target:
    parallel: true
    steps:
      - description: Copy file one
        copy:
          from: ...
      - description: Copy file two
        copy:
          from: ...
```

### Actions

{{ actions }}